<h3>Sandbox Transactions -- Last 90 Days</h3>

<form class="" action="/transactions" method="get">
  <button type="submit" class="btn btn-dark">Refresh Transaction Results</button>
</form>


<table class="table">
  <tr>
    <th>Transaction ID</th>
    <th>Status</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Date Created</th>
  </tr>
  {{#each transactions}}
    <tr>
      <td>{{id}}</td>
      <td>{{status}}</td>
      <td>{{amount}}</td>
      <td>{{currency}}</td>
      <td>{{date}}</td>
    </tr>
  {{/each}}
  <tr>
    <td>Total</td>
    <td>{{transactionTotal}}</td>
  </tr>
</table>
